<h2 class="menu-title"><p>Bienvenido a ReviewIT</p>¿Qué desea hacer?</h2>

<div class="main-options">
  <div class="option-menu"><%= link_to 'Ver comentarios', {controller: 'comments', action: 'index'}, :class => 'main-btn btn' %></div>
  <% if @current_user.has_reports %>
    <div class="option-menu"><%= link_to 'Ver reportes', {controller: 'reports', action: 'index'}, :class => 'main-btn btn' %></div>
    <div class="option-menu"><%= link_to 'Modificar categorías', {controller: 'categories', action: 'index'}, :class => 'main-btn btn' %></div>
  <% end %>
  <h3>Escaneá este código y dejanos tu feedback:</h3>
  <div class="thumbnail">
    <img src="https://api.qrserver.com/v1/create-qr-code/?data=<%= @user_url %>" alt="Código QR" title=""/>
  </div>
  <%= link_to 'Imprimir', {controller: 'print', action: 'index'}, :class => 'btn btn-primary' %>
</div>