<div class="container">
  <h1 class="center">Comentarios</h1>
  <div class="row">

    <%= form_tag "/comments/filter" do %>

      <div class="filter-options">

        <div class="report-select">
          <h4>Filtrar por categoría:</h4>
          <%= select_tag("category", options_for_select(["Todas"] + @user.categories, :selected => @selected_category)) %>
        </div>

        <div class="report-select">
          <h4>Elegir rango de fecha:</h4>
          <%= text_field_tag :start_date_comment, params[:start_date], placeholder: 'A partir de', :value => @start_date %>
        </div>

        <div class="report-select no-title">
          <%= text_field_tag :end_date_comment, params[:end_date], placeholder: 'Hasta', :value => @end_date %>
        </div>

        <div class="form-group btn btn-primary no-title">
          <%=  submit_tag 'Filtrar', :name => 'filter', :class => 'submit-btn btn btn-primary' %>
        </div>

      </div>

    <% end %>

    <% @comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>
              <%= comment.name %>
            </b>
            Hecho el día <%= comment.created_at.strftime('%d-%m-%Y %H:%Mhs') %>
          </div>
          <div class="panel-body">
            <p class="beginning-content">
              <%= comment.content %>
            </p>
            <p>Calificación: <%= comment.rating %></p>
            <p>Categoría: <%= comment.category %></p>
            <% if comment.image.attached? %>
              <b>Se incluyó una imagen en el comentario</b>
            <% end %>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-2 pull-right">
                <%= link_to 'Ver', comment, :class => 'show-comment' %>
                <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Estás seguro?' }, :class => 'delete-comment' %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
  $('#start_date_comment').datepicker({ dateFormat: 'dd-mm-yy' });
  $('#end_date_comment').datepicker({ dateFormat: 'dd-mm-yy' })
  });
<% end %>