<div class="container">
  <h1 class="center">Comentarios</h1>
  <div class="row">
    <% @comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>
              <%= comment.name %>
            </b>
            Hecho el día <%= comment.created_at.strftime('%d-%m-%Y %H:%Mhs') %>
          </div>
          <div class="panel-body">
            <p class="beginning-content">
              <%= comment.content %>
            </p>
            <p>Calificación: <%= comment.rating %></p>
            <p>Categoría: <%= comment.category %></p>
            <% if comment.image.attached? %>
              <b>Se incluyó una imagen en el comentario</b>
            <% end %>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-2 pull-right">
                <%= link_to 'Ver', comment, :class => 'show-comment' %>
                <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Estás seguro?' }, :class => 'delete-comment' %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>



