<h1>Reportes</h1>
<!--<%= image_tag @bar_chart_atencionalcliente %>
<%= image_tag @bar_chart_limpieza %>
<%= image_tag @bar_chart_seguridad %>
<%= image_tag @bar_chart_ubicacion %>
<%= image_tag @bar_chart_otras %>-->
<%= image_tag @bar_chart_all %>